body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
}

.content {
  text-align: center;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
